:root {
   
    --color-primary: #ffc727;
    --color-primary-light: #F4CF66;
    --color-primary-lighter: #FBEBA3;
    --color-secondary: #2ec4b6;
    --color-secondary-lighter: #bdf0ec;
    --color-white: #fff;
    --color-secondary-light: #cbf3f0;
    --color-dark-gray: #232e33;
    --color-medium-gray: #76848C;
    --color-dark: #263238;
    --color-white-dark: #232e33;
    --color-light-gray: #A9AAAA;
    --white: #fff;
    --color-off-white: #fafbfb;
    --color-pink: #F3ABA3;
    --footer: #071e22;

 
    --shadow-dark: rgba(56, 74, 82, 0.2);
    --shadow-white: rgba(255, 255, 255, 0.7);
    --shadow-white-light: rgba(255, 255, 255, 0.2);
    --shadow-white-lighter: rgba(255, 255, 255, 0.1);
    --shadow-white-lightest: rgba(255, 255, 255, 0.05);
    --shadow-white-overlay: rgba(255, 255, 255, 0.95);
    --shadow-dark-overlay: rgba(56, 74, 82, 0.9);
    --shadow-dark-bg: rgba(56, 74, 82, 0.05);
    --shadow-gray-bg: rgba(118, 132, 140, 0.05);
    --shadow-white-border: rgba(255, 255, 255, 0.1);
    --shadow-white-text: rgba(255, 255, 255, 0.6);
    --shadow-primary: rgba(248, 193, 36, 0.3);
    --shadow-primary-light: rgba(248, 193, 36, 0.4);
    --shadow-black: rgba(27, 35, 39, 0.4);
    --shadow-dark-light: rgba(56, 74, 82, 0.1);
    --shadow-dark-medium: rgba(56, 74, 82, 0.15);
}

:root.dark-mode,
body.dark-mode {
    --color-white: #071e22;
    --color-secondary-light: #34827c;
    --color-dark-gray: #ffc727;
    --color-medium-gray: #e9e9e9;
    --color-white-dark: #fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li {

    text-decoration: none;
}

::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    background-color: none;
}


::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 10px;
    border: 2px solid var(--color-dark);
}


::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
    color: var(--color-dark-gray);
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}


.mode {
    width: 37px;
    padding: 5px;
    height: auto;
}

.title-font {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

.text-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle at 20% 50%, var(--shadow-dark-bg) 0%, transparent 50%),
        radial-gradient(circle at 80% 80%, var(--shadow-gray-bg) 0%, transparent 50%);
    animation: backgroundShift 20s ease-in-out infinite;
    pointer-events: none;
    z-index: 0;
}

@keyframes backgroundShift {

    0%,
    100% {
        transform: translate(0, 0) scale(1);
    }

    33% {
        transform: translate(30px, 30px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--color-secondary-lighter) 0%, var(--color-secondary) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s, visibility 0.5s;
}

.preloader.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.loader {
    text-align: center;
}

.loader .Light {

    width: 200px;
    height: auto;

}

.loader p {
    font-family: 'DM Serif Display', serif;
    font-weight: 600;
    margin-top: 20px;
    color: var(--color-dark-gray);
    font-size: 24px;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.nav-container {

    margin: 0 auto;
    padding: 18px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    background: var(--color-white);
    backdrop-filter: blur(15px);
    box-shadow: 0 9px 14px var(--shadow-dark);
    z-index: 1000;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    height: 120px;
    border-radius: 230px;
    width: 1410px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}


.logo-section:hover .logo-image {
    transform: rotate(5deg) scale(1.05);
}

.logo-text {
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    color: var(--color-primary);

    background-clip: text;
    letter-spacing: -0.5px;
}


.nav-center {
    display: flex;
    list-style: none;
    gap: 45px;
}

.nav-center a {
    text-decoration: none;
    color: var(--color-dark-gray);
    font-weight: 600;
    font-size: 16px;
    position: relative;
    padding: 8px 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.3px;
}

.nav-center a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 50%, var(--color-primary-lighter) 100%);
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
}

.nav-center a:hover {
    color: var(--color-primary);
    transform: translateY(-2px);
}

.nav-center a:hover::before {
    width: 100%;
}

.nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.theme-toggle {
    background: var(--color-white);
    border: 2px solid var(--color-light-gray);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-toggle:hover {
    border-color: var(--color-primary);
    transform: rotate(180deg) scale(1.1);
    box-shadow: 0 5px 15px var(--shadow-dark);
}

.lang-toggle {
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 1px;
    box-shadow: 0 3px 10px var(--shadow-dark);
}

.lang-toggle:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(248, 193, 36, 0.4);
    background: #F4CF66;
}

.btn1-hero {
    display: inline-block;
    padding: 10px 30px;
    border: 3px solid var(--color-primary);
    color: var(--color-white-dark);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s;
}

.btn1-hero:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(27, 35, 39, 0.4);
}

.hero-main-title {
    font-family: 'Lilita One', sans-serif;
    font-size: 56px;
    line-height: 1.2;
    font-weight: 400;
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 50%, var(--color-primary-lighter) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 20px;
    animation: fadeInUp 0.8s ease-out;
}


.hero-subtitle {
    font-size: 20px;
    color: var(--color-medium-gray);
    margin-bottom: 30px;
    line-height: 1.8;
}

.section-title {
    font-family: 'Lilita One', sans-serif;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    color: var(--color-dark-gray);
}



.section-subtitle {
    text-align: center;
    color: var(--color-medium-gray);
    font-size: 18px;
    margin-bottom: 60px;
}

.card-title {
    font-family: 'Lilita One', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--color-dark-gray);
}



.stat-number {
    font-size: 48px;
    font-weight: 400;
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 50%, var(--color-primary-lighter) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Lilita One', sans-serif;
}


.hero-main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 100px;
    background: linear-gradient(135deg, var(--color-secondary-light) 0%, var(--color-secondary) 100%);
    position: relative;
    overflow: hidden;
}

.hero-wrapper {
    max-width: 1367px;
    margin: 0 auto;
    padding: 60px 20px;

    display: flex;
    gap: 60px;
    align-items: center;
    margin-right: 140px;
}

.hero-content-main {
    position: relative;
    z-index: 1;
}


.hero-title-main {
    font-size: 52px;
    line-height: 1.2;
    color: var(--color-dark-gray);
    margin-bottom: 24px;
}

.hero-description {
    font-size: 18px;
    color: var(--color-medium-gray);
    margin-bottom: 32px;
    line-height: 1.8;
}

.hero-tree {
    width: 410px;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-tree1 {
    width: 410px;
    position: absolute;
    right: 0;
    top: 0;

}


.btn-hero {
    display: inline-block;
    padding: 16px 40px;
    background: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s;
}

.btn-hero:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(27, 35, 39, 0.4);
}

.hero-illustration {
    width: 780px;

    animation: float 6s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}


.btn {
    display: inline-block;
    padding: 14px 32px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
}

.btn-primary {
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 50%, var(--color-primary-lighter) 100%);
    color: var(--color-white);
    position: relative;
    overflow: hidden;
}

.btn-primary:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 15px 35px rgba(56, 74, 82, 0.15);
}

.btn-secondary {
    background: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.btn-secondary:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transform: translateY(-3px);
    box-shadow: 0 10px 25px var(--shadow-dark);
}




.hero-wave {
    position: absolute;
    bottom: -61px;
    left: -40px;
    right: 0;
    color: var(--color-white);
    fill: currentColor;

}

.hero-wave1 {

    position: relative;
    bottom: -157px;
    right: 0px;
    color: var(--color-white);
    transform: rotate(180deg);
    fill: currentColor;
}

.hero-wave2 {
    position: absolute;
    bottom: -157px;
    left: -30px;
    right: -80px;
    color: var(--color-white);
    transform: rotate(180deg);
    z-index: 2;
    fill: currentColor;
}

.hero-wave3 {
    position: absolute;
    bottom: -8px;
    left: -40px;
    right: 0;
    color: var(--color-white);;
    fill: currentColor;
    z-index: 2;
}


.sec-principles-section {
    background: var(--color-white);
    padding: 0 0;
}

.sec-section-header {
    text-align: center;
    margin-bottom: 60px;
}

.sec-section-title {
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    font-weight: 400;
    color: var(--color-dark-gray);
    margin-bottom: 15px;
}



.sec-section-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-medium-gray);
    max-width: 600px;
    margin: 0 auto;
}



.sec-principles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.sec-principle-card {
    padding: 140px 40px 0;
    border-radius: 24px;
    color: var(--color-white-dark);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 100%)
}



.sec-principle-card:hover {
    transform: translateY(-10px);
}


.sec-icon-img {
    width: 181px;
    height: auto;
    object-fit: contain;
    position: absolute;
    left: 11px;
    top: -30px;
    transform: rotate(-25deg);
}

.sec-principle-title {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}



.sec-principle-text {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    opacity: 0.9;
    margin-bottom: 30px;
}



.sec-principle-arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: var(--shadow-white-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    transition: all 0.3s;
    font-weight: 800;
}

.sec-principle-card:hover .sec-principle-arrow {
    background: var(--color-white);
    color: var(--color-dark-gray);
}


.sec-case-study-section {
    background: linear-gradient(135deg, var(--color-secondary-light) 0%, var(--color-secondary) 100%);
    padding: 150px 0 100px;
}

.sec-case-study-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.sec-case-study-title {
    font-family: 'DM Serif Display', serif;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.2;
    ;
    color: var(--color-dark-gray);
}


.sec-case-study-badge {
    display: inline-block;
    padding: 8px 20px;
    background: var(--color-dark-gray);
    color: var(--color-white);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
}



.sec-case-study-list {
    list-style: disc;
    margin-bottom: 30px;
    padding-left: 20px;
}

.sec-case-study-list li {
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
    font-weight: 500;
    color: var(--color-medium-gray);
}


.sec-case-study-list li:last-child {
    border-bottom: none;
}

.sec-case-study-image-wrapper {
    position: relative;
    height: 500px;
    border-radius: 24px;

}

.sec-stat-overlay {
    position: absolute;
    padding: 25px;
    background: var(--color-white);
    border-radius: 16px;
    box-shadow: 0 10px 40px var(--shadow-dark-medium);
}

.sec-stat-top-left {
    top: 30px;
    left: 30px;
    background: var(--color-dark-gray);
    color: var(--color-white);
}

.sec-stat-bottom-right {
    bottom: -10px;
    right: -210px;
    background: var(--color-pink);
    color: var(--color-white);
}

.sec-stat-number-large {
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sec-stat-label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    opacity: 0.9;
}


.sec-case-study-image {
    width: 120%;
    height: 100%;
    object-fit: cover;
}

.testimonials-section {
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    gap: 30px;
    background: var(--color-white);
    overflow: hidden;

}

.testimonials-img {
    width: 780px;
    height: auto;
    position: absolute;
    left: 70px;
    top: 50px;

}

.testimonials-container {
    max-width: 1200px;

}

.testimonial-slider {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    animation: slide 20s infinite;
}

.testimonials-title {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    width: auto;
    font-size: 48px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    22% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    47% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    72% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    97% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

.testimonial-card {
    min-width: 100%;
    padding: 40px;
    background: var(--color-pink);
    border-radius: 24px;
    box-sizing: border-box;
}

.testimonial-text {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 24px;
    color: var(--color-white-dark);
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 16px;
}

.author-avatar {
    width: 48px;
    height: 48px;
    background: none;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-secondary);
}

.author-name {
    font-weight: 600;
    font-size: 14px;
    color: var(--color-white-dark);
    margin-bottom: 4px;
}

.author-role {
    font-size: 12px;
    color: var(--color-white-dark);
}



.slider-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;

}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-secondary-light);
    border: 2px solid var(--color-white);
    cursor: pointer;
    transition: all 0.3s;
}

.dot.active {
    background: var(--color-pink);
    width: 30px;
    border-radius: 6px;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: -15s;
}

.dot:nth-child(3) {
    animation-delay: -10s;
}

.dot:nth-child(4) {
    animation-delay: -5s;
}


.bk-img {
    width: 1105px;
    position: absolute;
    z-index: 0;
    top: 50px;
    left: 940px;
    opacity: 0.2;
}

.sec-index-section {
    background: linear-gradient(135deg, var(--color-secondary-light) 0%, var(--color-secondary) 100%);
    padding: 190px 0;
    position: relative;
    overflow: hidden;
}

.sec-index-section::before {
    content: '';
    position: absolute;
    top: -50%;
    right: -20%;
    width: 600px;
    height: 600px;
    background: var(--shadow-dark-bg);
    border-radius: 50%;
}

.sec-index-header {
    position: relative;
    z-index: 2;
}

.sec-index-title {
    font-family: 'DM Serif Display', serif;
    font-size: 42px;
    font-weight: 400;
    color: var(--color-white-dark);
    margin-bottom: 30px;
}



.sec-index-tags {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.sec-index-tag {
    padding: 10px 24px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-white-dark);
}



.sec-tag-1 {
    background: var(--color-pink);
}


.sec-index-list {
    list-style: none;
    display: grid;
    gap: 20px;
}

.sec-index-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: var(--color-white);
    border-radius: 12px;
    transition: all 0.3s;
    cursor: pointer;
}

.sec-index-item:hover {
    transform: translateX(10px);
    box-shadow: 0 10px 30px var(--shadow-dark);
}

.sec-index-number {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--color-primary);
    min-width: 40px;
}



.sec-index-content h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-dark-gray);
    margin-bottom: 5px;
}


.sec-index-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--color-medium-gray);
}


.sec-transition-section {
    position: relative;
    padding: 110px 0;
    background: var(--color-white);
}

.sec-transition-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    align-items: center;
}

.sec-transition-title {
    font-family: 'DM Serif Display', serif;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.2;
    color: var(--color-dark-gray);
}


.sec-transition-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-medium-gray);
    margin-bottom: 30px;
}



.sec-cards-slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sec-vertical-card {
    height: 400px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

.sec-vertical-card:hover {
    transform: translateY(-10px);
}

.sec-vertical-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    background: linear-gradient(to top, var(--color-secondary-light) 70%, transparent 100%);
}

.sec-card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background: linear-gradient(to top, var(--shadow-dark-overlay) 0%, transparent 100%);
    color: var(--white);
}

.sec-card-overlay-title {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;

}



.sec-card-overlay-text {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 15px;
}



.sec-read-more-btn {
    padding: 8px 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;

    background: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s;
}

.sec-read-more-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px var(--shadow-black);
}

.sec-strategies-header {
    text-align: center;
    margin-bottom: 60px;
}

.sec-strategies-title {
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--color-dark-gray);
}



.sec-strategies-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-medium-gray);
    max-width: 700px;
    margin: 0 auto;
}



.sec-strategies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.sec-strategy-card {
    padding: 35px;
    background: var(--color-primary-lighter);
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.sec-strategy-card:hover {
    border-color: var(--color-primary);
    transform: translateY(-5px);
    box-shadow: 0 10px 30px var(--shadow-dark);
}

.sec-strategy-number {
    width: 40px;
    height: 40px;
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    margin-bottom: 20px;
}



.sec-strategy-card:nth-child(1) .sec-strategy-number {
    background: var(--color-secondary);
}

.sec-strategy-card:nth-child(2) .sec-strategy-number {
    background: var(--color-pink);
}

.sec-strategy-card:nth-child(3) .sec-strategy-number {
    background: var(--color-medium-gray);
}

.sec-strategy-card:nth-child(4) .sec-strategy-number {
    background: var(--color-medium-gray);
}

.sec-strategy-card:nth-child(5) .sec-strategy-number {
    background: var(--color-secondary);
}

.sec-strategy-card:nth-child(6) .sec-strategy-number {
    background: var(--color-pink);
}

.sec-strategy-title {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--color-dark-gray);
}



.sec-strategy-description {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--color-medium-gray);
}

.image-slider-section {
    padding: 200px 0 100px;
    background: linear-gradient(135deg, var(--color-secondary-light) 0%, var(--color-secondary) 100%);
    position: relative;
    overflow: hidden;
}

.slider-header {
    text-align: center;
    margin-bottom: 60px;
}

.slider-section-title {
    font-size: 48px;
    color: var(--color-dark-gray);
    margin-bottom: 16px;
}

.slider-section-subtitle {
    font-size: 16px;
    color: var(--color-medium-gray);
    max-width: 700px;
    margin: 0 auto;
}

.image-slider-container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.slider-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-images {
    width: 420px;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 20px 40px var(--shadow-dark);
}

.slider-image-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    object-fit: cover;
}

.slider-image-item.active {
    opacity: 1;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 50%;
    font-size: 32px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.slider-btn:hover {
    background: var(--color-primary-light);
    transform: translateY(-50%) scale(1.1);
}

.slider-prev {
    left: calc(50% - 280px);
}

.slider-next {
    right: calc(50% - 280px);
}

.slider-indicators {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.slider-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-secondary-light);
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.7;
}

.slider-indicator.active {
    background: var(--color-pink);
    width: 30px;
    border-radius: 6px;
    opacity: 1;
}

.nav-center a.active {
    color: var(--color-primary);
}

.nav-center a.active::before {
    width: 100%;
}


.faq-section {
    padding: 100px 0;

    position: relative;
}

.faq-container {

    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}

.faq-header {
    text-align: center;
    margin-bottom: 60px;
}

.faq-title {
    font-size: 48px;
    color: var(--color-dark-gray);
    margin-bottom: 16px;
}

.faq-subtitle {
    font-size: 16px;
    color: var(--color-medium-gray);
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-item {
    background: var(--color-secondary-light);
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s;
}

.faq-question {
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: var(--color-dark-gray);
    transition: all 0.3s;
}

.faq-question:hover {
    background: var(--color-primary-lighter);
}

.faq-icon {
    font-size: 24px;
    color: var(--color-primary);
    transition: transform 0.3s;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 32px;
}

.faq-item.active .faq-answer {
    max-height: 300px;
    padding: 0 32px 24px;
}

.faq-answer p {
    color: var(--color-medium-gray);
    line-height: 1.8;
    font-size: 15px;
    font-weight: 600;
}

.faq-illustration {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 200px;
    opacity: 0.5;
}

.faq-illustration img {
    width: 900px;
    position: relative;
    right: 660px;
    bottom: -264px;
    z-index: -2;
}


.footer-main {
    background: var(--footer);
    color: var(--color-primary);
}



.footer-main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer-logo {
    font-size: 28px;
    color: var(--color-primary);
    margin-bottom: 16px;
}

.footer-description {
    font-size: 14px;
    color: var(--color-medium-gray);
    line-height: 1.6;
}

.footer-heading {
    font-size: 18px;
    color: var(--color-gray-dark);
    margin-bottom: 20px;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s;
}

.footer-links a:hover {
    color: var(--color-primary);
    transform: translateX(5px);
}

.footer-bottom {
    text-align: center;
    padding: 30px 20px;
    border-top: 1px solid var(--shadow-white-border);
}

.footer-bottom p {
    font-size: 13px;
    color: var(--shadow-white-text);
}

.scroll-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: var(--color-primary);
    color: var(--color-gray-dark);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 999;
}

.scroll-top-btn.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-top-btn:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 8px 25px var(--shadow-dark);
}



.sec-title-font {
    font-family: 'DM Serif Display', serif;
}

.sec-text-font {
    font-family: 'Poppins', sans-serif;
}

.body-error{
    width: 100%;
    height: 100vh;
     background: linear-gradient(135deg, var(--color-secondary-light) 0%, var(--color-secondary) 100%);
}

.error-img{
    width: 980px;
    height: auto;
}


